<div class="container my-1">
  <h1 class="h3 text-center">Write Posts</h1>
  <form>
    <div class="form-group">
      <label for="p-title">Post Title</label>
      <input type="text" class="form-control form-control-lg" id="p-title" rows="1" placeholder="whats your point ?"></input type="text">
     
    </div>
    <div class="form-group">
      <label for="p-body">Post Body</label>
      <textarea class="form-control form-control-sm" id="p-body" rows="4" placeholder="Describe more"></textarea>
    </div>
    <button type="submit" id="write-btn" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>


<script src="/app/write-post.js"></script>